<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    </head>
<body>
    <style>
        .cloumn :hover {
            color: #294d6b;
            background: #4f8aba;
            box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), inset 0 0 10px rgba(255, 255, 255, 0.1);
            }
        .column :active {
            color: #294d6b;
            background: #427aa9;
            box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), inset 0 0 5px rgba(0, 0, 0, 0.2);
            }
        .column :focus {
            color: #294d6b;
            background: #4f8aba;
            box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), inset 0 0 10px rgba(255, 255, 255, 0.1);
        }
    </style>
    <section class="hero">
        <div class="hero-body">
          <div class="container">
            <h1 class = "title is-size 6"><strong>Team 6</strong></h1>
          </div>
        </div>
    </section>
      
    <section class="section has-background-light">
    <div class="container">
        <div class="columns">
            <div class="column">
              <article class="notification is-info media" 
              onmouseover="this.style.backgroundColor='white', this.style.color='Royalblue', this.style.borderColor='Royalblue'"
              onmouseout="this.style.backgroundColor='', this.style.color='', this.style.borderColor=''">
                <figure class="media-left">
                  <span class="icon is-medium">
                    <i class="fab fa-css3-alt fa-3x"></i>
                  </span>
                </figure>
                <div class="media-content">
                  <div onclick="location.href='/meal/search_all/'" class="content">
                    <h1 class="title is-size-4">내 주변 식당</h1>
                    <p class="is-size-5">
                        주변에 어떤 식당이 있는지 궁금하시죠?<br>
                        저희가 찾아 드릴게요<br>
                        <span class="emoticon">ᕕ( ᐛ )ᕗ</span>
                    </p>
                  </div>
                </div>
              </article>
            </div>
      
            <div class="column">
              <article class="notification is-primary media" 
              onmouseover="this.style.backgroundColor='white', this.style.color='MediumSeaGreen', this.style.borderColor='MediumSeaGreen'"
              onmouseout="this.style.backgroundColor='', this.style.color='', this.style.borderColor=''">
                <figure class="media-left">
                  <span class="icon is-medium">
                    <i class="fas fa-2x fa-align-justify"></i>
                  </span>
                </figure>
                <div onclick="location.href='/meal/random_lunch/'" class="media-content">
                  <div class="content">
                    <h1 class="title is-size-4">오점뭐?</h1>
                    <p class="is-size-5">
                        오늘 점심은 어디서 드세요?<br>
                        헛;; 고민이시라고요?<br>
                        그럼 마음편하게 눌러보세요<br>
                        <span class="emoticon">⦤(^ー^)⦥</span>
                    </p>
                  </div>
                </div>
              </article>
            </div>
      
            <div class="column">
              <article class="notification is-warning media" 
              onmouseover="this.style.backgroundColor='white', this.style.color='Goldenrod', this.style.borderColor='Goldenrod'"
              onmouseout="this.style.backgroundColor='', this.style.color='', this.style.borderColor=''">
                <figure class="media-left">
                  <span class="icon is-medium">
                    <i class="fas fa-2x fa-shield-alt"></i>
                  </span>
                </figure>
                <div class="media-content">
                  <div onclick="location.href='/meal/mylocation/'" class="content">
                    <h1 class="title is-size-4">내 위치 변경</h1>
                    <p class="is-size-5">
                        새로운 곳은 어떠신가요?<br>
                        저희에게도 알려주세요!<br>
                        새로운 점심을 찾아드릴게요<br>
                        <span class="emoticon">٩(^ᴗ^)۶</span>
                    </p>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>
      
      <section class="section">
        <div class="container">
          <div class="columns is-multiline">
            <div class="column is-one-third">
              <article class="notification media has-background-white">
                <figure class="media-left">
                  <span class="icon">
                    <i class="has-text-warning fas fa-columns fa-lg"></i>
                  </span>
                </figure>
                <div class="media-content">
                  <div class="content">
                    <h1 class="title is-size-4">내 위치</h1><br>
                    <p class="is-size-5 subtitle">
                      The power of <strong>Flexbox</strong> in a simple interface
                    </p>
                  </div>
                </div>
              </article>
            </div>
      
            <div class="column is-one-third">
              <article class="notification has-background-white media">
                <figure class="media-left">
                  <span class="icon has-text-info">
                    <i class="fab fa-lg fa-wpforms"></i>
                  </span>
                </figure>
                <div class="media-content">
                  <div class="content">
                    <h1 class="title is-size-4">후원 계좌</h1><br>
                    <p class="is-size-5 subtitle">
                      <strong>국민은행</strong> 135702-04-150445
                    </p>
                  </div>
                </div>
              </article>
            </div>
      
            <div class="column is-one-third">
              <article class="notification has-background-white media">
                <figure class="media-left">
                  <span class="icon has-text-danger">
                    <i class="fas fa-lg fa-cubes"></i>
                  </span>
                </figure>
                <div class="media-content">
                  <div class="content">
                    <h1 class="title is-size-4">마지막 업데이트</h1><br>
                    <p class="is-size-5 subtitle">
                      Advanced multi-part components with lots of possibilities
                    </p>
                  </div>
                </div>
              </article>
            </div>
      
            <div class="column is-one-third">
              <article class="notification has-background-white media">
                <figure class="media-left">
                  <span class="icon has-text-grey">
                    <i class="fas fa-lg fa-cogs"></i>
                  </span>
                </figure>
              </article>
            </div>
              </article>
            </div>
          </div>
        </div>
      </section>      
</body>
</html>