<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cover - Free Bulma template</title>
    <link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <!-- Bulma Version 0.8.2-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.8.2/css/bulma.min.css" />
    <style type="text/css">
        html,
        body {
            font-family: 'Open Sans';
        }

        img {
            padding: 5px;
            border: 1px solid #ccc;
        }
    </style>
</head>

<body>
    <section class="hero is-warning is-default is-bold">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <span class="navbar-burger burger" data-target="navbarMenu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
                <div id="navbarMenu" class="navbar-menu">
                    <div class="navbar-end">
                        <div class="tabs is-right">
                            <ul>
                                <li><a  class="subtitle is size-1 is-active">위치변경</a></li>
                                <li><a  class="subtitle is size-1" href="/meal/">메인으로</a></li>
                                <li><a  class="subtitle is size-1" href="/meal/search_all/">식당조회</a></li>
                                <li><a  class="subtitle is size-1" href="/meal/random_lunch/">오점뭐</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="hero-body">
            <div class="container">
                <h1 class="title is-size6">
                내 위치 변경하기
                </h1>
                <h2 class="subtitle is-size4">
                    To travel hopefully is better thing than to arrive.
                </h2>
            </div>
        </div>
    </section>
    <selection class = "hero">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="columns is-vcentered">
                    <div class="column is-5">
                        <figure>
                            <div id="map" style="width:750px;height:350px;"></div>

                            <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=849fd1b1d68908f0370f8b19d303280f"></script>
                            <script>
                                var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
                                    mapOption = {
                                        center: new kakao.maps.LatLng(37.4807936,126.8799593), // 지도의 중심좌표
                                        level: 4, // 지도의 확대 레벨
                                        mapTypeId : kakao.maps.MapTypeId.ROADMAP // 지도종류
                                    }; 
                        
                                // 지도를 생성한다 
                                var map = new kakao.maps.Map(mapContainer, mapOption); 
                        
                                // 지도 타입 변경 컨트롤을 생성한다
                                var mapTypeControl = new kakao.maps.MapTypeControl();
                        
                                // 지도의 상단 우측에 지도 타입 변경 컨트롤을 추가한다
                                map.addControl(mapTypeControl, kakao.maps.ControlPosition.TOPRIGHT);

                                var circle = new kakao.maps.Circle({
                                    map: map, // 원을 표시할 지도 객체
                                    center: new kakao.maps.LatLng(37.4807936,126.8799593), // 지도의 중심 좌표
                                    radius : 200, // 원의 반지름 (단위 : m)
                                    fillColor: '#acb3f0', // 채움 색
                                    fillOpacity: 0.5, // 채움 불투명도
                                    strokeWeight: 2, // 선의 두께
                                    strokeColor: '#0c4bbd', // 선 색
                                    strokeOpacity: 0.9, // 선 투명도 
                                    strokeStyle: 'solid' // 선 스타일
                                });	
                        
                            </script>
                        </figure>
                    </div>
                    <div class="column is-6 is-offset-1">
                        <h1 class="title is-2">
                            뭐 넣을만한게 없을까?
                        </h1>
                        <h2 class="subtitle is-4">
                            하나쯤은 있지 않을까..
                        </h2>
                        <br>
                        <p class="has-text-centered">
                            <a class="button is-warning is-medium" onmouseover="this.style.backgroundColor='white', this.style.color='Goldenrod', this.style.borderColor='Goldenrod'"
                            onmouseout="this.style.backgroundColor='', this.style.color='', this.style.borderColor=''">
                                여기로 바뀌었어요
                            </a><br><br>
                            <a class="button is-warning is-medium" onmouseover="this.style.backgroundColor='white', this.style.color='Goldenrod', this.style.borderColor='Goldenrod'"
                            onmouseout="this.style.backgroundColor='', this.style.color='', this.style.borderColor=''">
                                흠..아냐 다시 고르자
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="../js/bulma.js"></script>
</body>

</html>