<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cover - Free Bulma template</title>
    <link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <!-- Bulma Version 0.8.2-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.8.2/css/bulma.min.css" />
    <style type="text/css">
        html,
        body {
            font-family: 'Open Sans';
        }

        img {
            padding: 5px;
            border: 1px solid #ccc;
        }
    </style>
</head>

<body>
    <section class="hero is-warning is-default is-bold">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <span class="navbar-burger burger" data-target="navbarMenu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
                <div id="navbarMenu" class="navbar-menu">
                    <div class="navbar-end">
                        <div class="tabs is-right">
                            <ul>
                                <li><a  class="subtitle is size-1 is-active">위치변경</a></li>
                                <li><a  class="subtitle is size-1" href="/meal/">메인으로</a></li>
                                <li><a  class="subtitle is size-1" href="/meal/search_all/">식당조회</a></li>
                                <li><a  class="subtitle is size-1" href="/meal/random_lunch/">오점뭐</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="hero-body">
            <div class="container">
                <h1 class="title is-size6">
                내 위치 변경하기
                </h1>
                <h2 class="subtitle is-size4">
                    To travel hopefully is better thing than to arrive.
                </h2>
            </div>
        </div>
    </section>
    <selection class = "hero">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="columns is-vcentered">
                    <div class="column is-5">
                        <figure>
                            <h1>카카오맵 API 이용해서 지도 넣기</h1>
                        </figure>
                    </div>
                    <div class="column is-6 is-offset-1">
                        <h1 class="title is-2">
                            뭐 넣을만한게 없을까?
                        </h1>
                        <h2 class="subtitle is-4">
                            하나쯤은 있지 않을까..
                        </h2>
                        <br>
                        <p class="has-text-centered">
                            <a class="button is-warning is-medium" onmouseover="this.style.backgroundColor='white', this.style.color='Goldenrod', this.style.borderColor='Goldenrod'"
                            onmouseout="this.style.backgroundColor='', this.style.color='', this.style.borderColor=''">
                                여기로 바뀌었어요
                            </a><br><br>
                            <a class="button is-warning is-medium" onmouseover="this.style.backgroundColor='white', this.style.color='Goldenrod', this.style.borderColor='Goldenrod'"
                            onmouseout="this.style.backgroundColor='', this.style.color='', this.style.borderColor=''">
                                흠..아냐 다시 고르자
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="../js/bulma.js"></script>
</body>

</html>