<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cover - Free Bulma template</title>
    <link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <!-- Bulma Version 0.8.2-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.8.2/css/bulma.min.css" />
    <style type="text/css">
        html,
        body {
            font-family: 'Open Sans';
        }

        img {
            padding: 5px;
            border: 1px solid #ccc;
        }       
    </style>
</head>

<body>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>

    <section class="hero is-primary is-default is-bold">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <span class="navbar-burger burger" data-target="navbarMenu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
                <div id="navbarMenu" class="navbar-menu">
                    <div class="navbar-end">
                        <div class="tabs is-right">
                            <ul>
                                <li><a  class="subtitle is size-1 is-active">오점뭐</a></li>
                                <li><a  class="subtitle is size-1" href="/meal/">메인으로</a></li>
                                <li><a  class="subtitle is size-1" href="/meal/search_all/">식당조회</a></li>
                                <li><a  class="subtitle is size-1" href="/meal/mylocation/">위치변경</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="hero-body">
            <div class="container">
                <h1 class="title is-size6">
                오늘 점심 뭐먹지?
                </h1>
                <h2 class="subtitle is-size4">
                    Part of the secret of success in life is to eat what you like and let the food fight it out inside.
                </h2>
            </div>
        </div>
    </section>
    <selection class = "hero">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="columns is-4 is-multiline" >
                    <iframe src="{{pick.place_url}}" frameborder="1" width="900px" height="600px"></iframe>                             
                    <div style = "margin-left: 50px; margin-top: 80px">
                        <div  id="map" style="width:400px;height:300px;"></div><br>
                        <a class="button is-primary is-medium is-outlined" id = "enjoybtn">
                            좋아! 오늘은 이거다!
                        </a><br><br>
                        <a class="button is-primary is-medium is-outlined"  onClick="window.location.reload()">
                            흠..아냐 다시 고르자
                        </a>
                    </div>
                </div>
            </div>
            
        </div>


                            
    <script src="../js/bulma.js"></script>
    <script src = "http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=849fd1b1d68908f0370f8b19d303280f"></script>
    <script>
        x = {{ pick.x }}
        y = {{ pick.y }}
        var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
        mapOption = { 
            center: new kakao.maps.LatLng(y,x), // 지도의 중심좌표
            level: 4 // 지도의 확대 레벨
        };

        var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

        // 마커가 표시될 위치입니다 
        var markerPosition  = new kakao.maps.LatLng(y,x); 

        // 마커를 생성합니다
        var marker = new kakao.maps.Marker({
            position: markerPosition,
            clickable: true
        });

        // 마커가 지도 위에 표시되도록 설정합니다
        marker.setMap(map);
        // 마커를 클릭했을 때 마커 위에 표시할 인포윈도우를 생성합니다
        var iwContent = 
        '<div style="padding:5px;"><a href="{{pick.place_url}}" style="color:blue" target="_blank">{{pick.place_name}}</a></div>', // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
        iwRemoveable = true; // removeable 속성을 ture 로 설정하면 인포윈도우를 닫을 수 있는 x버튼이 표시됩니다
        var infowindow = new kakao.maps.InfoWindow({
            content : iwContent,
            removable : iwRemoveable
        });
        kakao.maps.event.addListener(marker, 'click', function() {
            // 마커 위에 인포윈도우를 표시합니다
            infowindow.open(map, marker);  
        });

        // 아래 코드는 지도 위의 마커를 제거하는 코드입니다
        
    </script>
    </section>
    <script>
      $('[id = enjoybtn]').click(() => {
      $.ajax({
          type : 'get',
          url : '../../having_function/',
          data : {},
          success: function(res){
              alert("맛있는 식사 하세요 ^^")
          },
        });
      } )
    </script>
   
    
</body>

</html>