<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
</head>
<body>
    <section class="hero">
        <div class="hero-body">
          <div class="container">
            <figure class="image center">
              <img src="https://bulma.io/images/bulma-banner.png" alt="" style="max-width: 160px">
            </figure>
          </div>
        </div>
      </section>
      
      <section class="section has-background-light">
        <div class="container">
          <div class="columns">
            <div class="column">
              <article class="notification is-info media">
                <figure class="media-left">
                  <span class="icon is-medium">
                    <i class="fab fa-css3-alt fa-3x"></i>
                  </span>
                </figure>
                <div class="media-content">
                  <div onclick="location.href='/meal/search_all/'" class="content">
                    <h1 class="title is-size-4">내 주변 식당</h1>
                    <p class="is-size-5">
                        주변에 어떤 식당이 있는지 궁금하시죠?<br>
                        저희가 찾아 드릴게요<br>
                        <span class="emoticon">ᕕ( ᐛ )ᕗ</span>
                    </p>
                  </div>
                </div>
              </article>
            </div>
      
            <div class="column">
              <article class="notification is-primary media">
                <figure class="media-left">
                  <span class="icon is-medium">
                    <i class="fas fa-2x fa-align-justify"></i>
                  </span>
                </figure>
                <div onclick="location.href='/meal/random_lunch/'" class="media-content">
                  <div class="content">
                    <h1 class="title is-size-4">오점뭐?</h1>
                    <p class="is-size-5">
                        오늘 점심은 어디서 드세요?<br>
                        헛;; 고민이시라고요?<br>
                        그럼 마음편하게 눌러보세요<br>
                        <span class="emoticon">⦤(^ー^)⦥</span>
                    </p>
                  </div>
                </div>
              </article>
            </div>
      
            <div class="column">
              <article class="notification is-warning media">
                <figure class="media-left">
                  <span class="icon is-medium">
                    <i class="fas fa-2x fa-shield-alt"></i>
                  </span>
                </figure>
                <div class="media-content">
                  <div onclick="location.href='/meal/mylocation/'" class="content">
                    <h1 class="title is-size-4">내 위치 변경</h1>
                    <p class="is-size-5">
                        새로운 곳은 어떠신가요?<br>
                        저희에게도 알려주세요!<br>
                        새로운 점심을 찾아드릴게요<br>
                        <span class="emoticon">٩(^ᴗ^)۶</span>
                    </p>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>
      
      <section class="section">
        <div class="container">
          <div class="columns is-multiline">
            <div class="column is-one-third">
              <article class="notification media has-background-white">
                <figure class="media-left">
                  <span class="icon">
                    <i class="has-text-warning fas fa-columns fa-lg"></i>
                  </span>
                </figure>
                <div class="media-content">
                  <div class="content">
                    <h1 class="title is-size-4">Columns</h1>
                    <p class="is-size-5 subtitle">
                      The power of <strong>Flexbox</strong> in a simple interface
                    </p>
                  </div>
                </div>
              </article>
            </div>
      
            <div class="column is-one-third">
              <article class="notification has-background-white media">
                <figure class="media-left">
                  <span class="icon has-text-info">
                    <i class="fab fa-lg fa-wpforms"></i>
                  </span>
                </figure>
                <div class="media-content">
                  <div class="content">
                    <h1 class="title is-size-4">Form</h1>
                    <p class="is-size-5 subtitle">
                      The indispensable <strong>form controls</strong>, designed for maximum clarity
                    </p>
                  </div>
                </div>
              </article>
            </div>
      
            <div class="column is-one-third">
              <article class="notification has-background-white media">
                <figure class="media-left">
                  <span class="icon has-text-danger">
                    <i class="fas fa-lg fa-cubes"></i>
                  </span>
                </figure>
                <div class="media-content">
                  <div class="content">
                    <h1 class="title is-size-4">Components</h1>
                    <p class="is-size-5 subtitle">
                      Advanced multi-part components with lots of possibilities
                    </p>
                  </div>
                </div>
              </article>
            </div>
      
            <div class="column is-one-third">
              <article class="notification has-background-white media">
                <figure class="media-left">
                  <span class="icon has-text-grey">
                    <i class="fas fa-lg fa-cogs"></i>
                  </span>
                </figure>
                <div class="media-content">
                  <div class="content">
                    <h1 class="title is-size-4">Modifiers</h1>
                    <p class="is-size-5 subtitle">
                      An <strong>easy-to-read</strong> naming system designed for humans
                    </p>
                  </div>
                </div>
              </article>
            </div>
      
            <div class="column is-one-third">
              <article class="notification has-background-white media">
                <figure class="media-left">
                  <span class="icon has-text-primary">
                    <i class="fas fa-lg fa-warehouse"></i>
                  </span>
                </figure>
                <div class="media-content">
                  <div class="content">
                    <h1 class="title is-size-4">Layout</h1>
                    <p class="is-size-5 subtitle">
                      Design the <strong>structure</strong> of your webpage with these CSS classes
                    </p>
                  </div>
                </div>
              </article>
            </div>
      
            <div class="column is-one-third">
              <article class="notification has-background-white media">
                <figure class="media-left">
                  <span class="icon has-text-danger">
                    <i class="fas fa-lg fa-cube"></i>
                  </span>
                </figure>
                <div class="media-content">
                  <div class="content">
                    <h1 class="title is-size-4">Elements</h1>
                    <p class="is-size-5 subtitle">
                      Essential interface elements that only require a <strong>single CSS class</strong>
                    </p>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>      
</body>
</html>